.callback {
    background: #fff;
    display: flex;
    width: 100%;
}

.callback__wrap {
    display: flex;
    width: 1200px;
    min-height: 1020px;
    position: relative;
    margin: 0 auto;
}

.callback__center {
    display: flex;
    width: 1013px;
    border-radius: 24px;
    flex-direction: column;
    padding: 0;
    margin: 0 93.5px;
    position: absolute;
    top: -94px;
}

.callback__background {
    position: absolute;
    background-image: url(../img/prod-fon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    opacity: 0.6;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.callback__image {
    display: block;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    margin: 0 auto;
    padding: 0;
    object-fit: contain;
    z-index: 5;
}

.callback__photo {
    display: block;
    box-sizing: border-box;
    border: 0;
    width: 85px;
    height: 85px;
    border-radius: 44px;
    border: none;
    margin: 128px auto 32px;
    padding: 0;
    object-fit: contain;
    z-index: 5;
}

.callback__rectangle {
    width: 968px;
    background: #84A178;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;
    padding: 0;
    z-index: 5;
}

.callback__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FCFCFC;
    padding: 39px 109px 39px;
    margin: 0;
}

.callback__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;
    color: #131313;
    padding: 0;
    margin: 32px auto;
}

.callback__dotes {
    margin: 0 auto 207px;
    display: flex;
    max-width: 90px;
    min-height: 12px;
}

.callback__dot {
    background-image: url(../img/Ellipse7.svg);
    background: #D9D9D9;
    width: 12px;
    height: 12px;
    margin: 9px;
    object-fit: contain;
    border-radius: 20px;
}

.callback__dot_active {
    background: #84A178;
}

@media screen and (max-width: 1024px) {
    .callback__wrap {
        width: 768px;
        min-height: 958px;
    }

    .callback__center {
        width: 704px;
        margin: 0 32px;
        border-radius: 18px;
        top: -164px;
    }

    .callback__background {
        background-image: url(../img/ice-fon-plansh.svg);
    }

    .callback__image {
        width: 704px;
        height: 327px;
        border-radius: 18px;
        object-fit: cover;
    }

    .callback__photo {
        margin: 60px auto 28px;
    }

    .callback__rectangle {
        width: 705px;
        height: 138px;
    }

    .callback__text {
        font-size: 14px;
        line-height: 26px;
        padding: 29px 80px;
    }
}

@media screen and (max-width: 767px) {
    .callback__wrap {
        width: 320px;
        height: 1070px;
    }

    .callback__center {
        width: 279px;
        margin: 0 19.5px;
        top: -24px;
    }

    .callback__background {
        background-image: url(../img/ice-fon-mob.svg);
        background-repeat: no-repeat repeat;
        background-size: 320px 568px;
        object-fit: fill;
        margin: 0;
        padding: 0;
    }

    .callback__image {
        width: 279px;
        height: 130px;
        border-radius: 7px;
    }

    .callback__photo {
        margin: 80px auto 32px;
    }

    .callback__rectangle {
        width: 280px;
        height: 256px;
        border-radius: 10px;
    }

    .callback__text {
        font-size: 12px;
        line-height: 31px;
        padding: 34px 39px;
    }

    .callback__name {
        font-size: 20px;
        margin: 30px auto 14px;
    }

    .callback__dotes {
        margin: 0 auto 48px;
    }
}