.contacts {
    display: flex;
    width: 100%;
    background: #84A278;
}

.contacts__wrap {
    width: 1200px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 120px;
}

.contacts__places {
    list-style: none;
    width: 1168px;
    height: 538px;
    display: block;
    box-sizing: border-box;
    border-radius: 24px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.contacts__item {
    position: absolute;
    top: -96px;
    width: 368px;
    display: block;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 0;
    margin: 0;
}

.contacts__item_left {
    left: 0;
}

.contacts__item_middle {
    left: 400px;
}

.contacts__item_right {
    right: 0;
}

.contacts__container {
    width: 368px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 40px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
}

.contacts__title {
    box-sizing: border-box;
    height: 28px;
    margin: 0 auto 32px 0;
    background: #F8D24E;
    border-radius: 6px;
    border: none;
    padding: 0 16px 3px;
}

.contacts__city {
    padding: 0;
    margin: 0 0 8px;
}

.contacts__address {
    color: #D6936D;
    padding: 0 0 32px;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 32px;
}

.contacts__days {
    margin: 0;
    padding: 0;
}

.contacts__hours {
    color: #ABABAB;
    padding: 0;
    margin: 0 0 12px;
}

.contacts__hours_bottom {
    padding: 0 0 32px;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 32px;
}

.contacts__phone {
    padding: 0;
    margin: 0;
}

.contacts__buttons {
    margin: 64px auto 0;
    width: 408px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.contacts__left-btn {
    width: 196px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.contacts__right-btn {
    width: 196px;
    height: 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 4px;
    color: #000000;
}

.contacts__btn-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.contacts__btn-more {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0 0 0 7px;
}

@media screen and (max-width: 1024px) {
    .contacts__wrap {
        width: 768px;
        padding: 0 32px;
        margin: 0 auto 40px;
    }

    .contacts__places {
        width: 704px;
        height: 250px;
        margin-bottom: 60px;
    }

    .contacts__item {
        width: 224px;
        top: -303px;
    }

    .contacts__item_middle {
        width: 224px;
        left: 239px;
    }

    .contacts__container {
        width: 224px;
        font-size: 14px;
        padding: 40px 24px;
    }

    .contacts__city {
        margin: 0 0 12px;
    }

    .contacts__hours:last-of-type {
        margin: 0 0 12px;
        padding: 0 0 32px;
    }

    .contacts__buttons {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .contacts__wrap {
        width: 320px;
        justify-content: start;
        align-items: center;
        padding: 0 20px;
        min-height: 1060px;
        margin: 0 auto 39px;
    }

    .contacts__places {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 280px;
        min-height: 930px;
        margin-bottom: 32px;
    }

    .contacts__item {
        position: absolute;
        top: -346px;
        width: 280px;
    }

    .contacts__item_left {
        width: 280px;
        top: -346px;
    }

    .contacts__item_middle {
        width: 280px;
        top: 86px;
        left: 0;
    }

    .contacts__item_right {
        width: 280px;
        top: 518px;
    }

    .contacts__container {
        width: 280px;
        height: 412px;
        padding: 40px 32px;
        font-size: 12px;
        line-height: 22px;
    }

    .contacts__title {
        height: 16px;
        margin: 0 auto 20px 0;
        border-radius: 4px;
        padding: 0 20px;
    }

    .contacts__address {
        padding: 0 0 24px;
        margin: 0 0 24px;
    }

    .contacts__hours {
        margin: 0 0 8px;
    }

    .contacts__hours_bottom {
        padding: 0 0 24px;
        margin: 0 0 24px;
    }

    .contacts__buttons {
        margin: 0 auto;
        width: 196px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .contacts__more {
        padding-left: 7px;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        display: flex;
        align-items: center;
        text-align: center;
    }
}