.footer {
    font-family: "Montserrat";
    font-style: normal;
    color: #FCFCFC;
    max-width: 1168px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 11px;
}

.footer__wrap {
    display: flex;
    padding-bottom: 54px;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 auto 12px;
    width: 100%;
    justify-content: space-between;
}

.footer__textblock {
    max-width: 504px;
    display: flex;
    flex-direction: column;
}

.footer__text-top {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 14px;
    padding: 0;
    margin: 0;
}

.footer__text {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer__block {
    max-width: 338px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__social {
    margin: 0 0 40px 0;
    list-style: none;
    display: flex;
}

.footer__item {
    margin-left: 30px;
    padding: 0;
}

.footer__link {
    border: none;
}

.footer__social-icon {
    width: 34px;
    height: 34px;
    padding: 0;
}

.footer__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #131313;
    padding: 0;
    margin: 0;
}

.footer__number {
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 0;
    margin: 0;
}

.footer__bottom {
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 768px;
        margin: 0 auto 13px;
        padding: 0 33px;
    }

    .footer__wrap {
        padding-bottom: 32px;
        margin: 0 auto 14px;
    }

    .footer__textblock {
        max-width: 352px;
    }

    .footer__text-top {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 9px;
    }

    .footer__text {
        font-size: 48px;
        line-height: 59px;
    }

    .footer__block {
        max-width: 297px;
    }

    .footer__social {
        margin: 68px 0 32px;
    }

    .footer__phone {
        font-size: 14px;
    }

    .footer__number {
        font-size: 14px;
    }

    .footer__bottom {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 320px;
        margin: 0 auto 62px;
        padding: 0 20px;
    }

    .footer__wrap {
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
        padding-bottom: 40px;
        margin: 0 auto 16px;
    }

    .footer__textblock {
        max-width: 234px;
        margin-bottom: 42px;
    }

    .footer__text-top {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .footer__text {
        font-size: 34px;
        line-height: 41px;
    }

    .footer__block {
        max-width: 278px;
        min-height: 92px;
        margin: 0;
    }

    .footer__social {
        min-height: 32px;
        margin: 0 0 20px 0;
    }

    .footer__item {
        margin-left: 28px;
    }

    .footer__social-icon {
        width: 32px;
        height: 32px;
    }

    .footer__phone {
        font-size: 12px;
        line-height: 22px;
    }

    .footer__number {
        font-size: 12px;
        line-height: 22px;
    }

    .footer__bottom {
        max-width: 160px;
        font-size: 14px;
        line-height: 21px;
    }

}