.prod {
    background: #fff;
    display: flex;
    width: 100%;
    margin: 0;
}

.prod__wrap {
    display: flex;
    max-width: 1180px;
    flex: 1;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.prod__background {
    background-image: url(../img/prod-fon.svg);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}

.prod__center {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 60px 13px 57px;
    margin: 0 auto;
    flex: 1;
}

.prod__header {
    max-width: 331px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 120px;
}

.prod__overtitle {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 12px;
    margin: 0 auto;
}

.prod__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
}

.prod__items {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 13px;
}

.prod__item {
    max-width: 370px;
    flex: 1;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod__item:last-child {
    margin-right: 0;
    z-index: 5;
}

.prod__item-img {
    width: 300px;
    height: 300px;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: -183.2px;
    position: relative;
}

.prod__img {
    display: block;
    border-radius: 150px;
    border: none;
    margin: 0;
    padding: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.prod__circle {
    background-position: center;
    display: block;
    border-radius: 150px;
    border: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -17px;
    position: absolute;
}

.prod__circle_ice {
    background-image: url(../img/Ellipse-10.png);
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.prod__circle_coffee {
    background-image: url(../img/Ellipse-11.svg);
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.prod__circle_shake {
    background-image: url(../img/Ellipse-12.svg);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.prod__item-title {
    margin: 38px auto 65px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.prod__item-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 207px;
}

.prod__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    max-width: 246.5px;
    height: 207px;
    margin: 0 auto;
}

.prod__arrow {
    width: 100%;
    height: 100%;

}

.prod__arrow-black {
    display: flex;
    background: inherit;
    box-sizing: border-box;
    border: none;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
    width: 40px;
    height: 16px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.prod__arrow-black:hover {
    width: 50px;
    height: 20px;
}

.prod__rectangle {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 24px;
    margin: 183.5px 0 0;
    z-index: 5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    padding-bottom: 60px;
}

.prod__rectangle_ice {
    background: #AEC6A5;
}

.prod__rectangle_coffee {
    background: #EFD478;
}

.prod__rectangle_shake {
    background: #D6936D;
}

@media screen and (max-width: 1023px) {
    .prod__wrap {
        min-height: 852px;
        max-width: 760px;
    }

    .prod__center {
        max-width: 760px;
        padding: 60px 32px 82px;
    }

    .prod__background {
        background-image: url(../img/ice-fon-plansh.svg);
    }

    .prod__header {
        max-width: 306px;
        min-height: 82px;
        margin: 0 auto 80px;
    }

    .prod__overtitle {
        font-size: 22px;
        line-height: 27px;
    }

    .prod__title {
        font-size: 34px;
        line-height: 43px;
    }

    .prod__items {
        max-width: 704px;
        height: 548px;
        margin: 0 auto;
    }

    .prod__item {
        width: 224px;
        height: 548px;
        margin-right: 16px;
    }

    .prod__item-img {
        width: 198px;
        height: 197px;
        margin-top: -120px;
    }

    .prod__img {
        border-radius: 100px;
    }

    .prod__circle {
        border-radius: 100px;
        bottom: -11px;
    }

    .prod__circle_ice {
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    .prod__circle_coffee {
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    .prod__circle_shake {
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }

    .prod__item-title {
        font-size: 22px;
        line-height: 27px;
        margin: 30px auto 40px;
    }

    .prod__item-block {
        height: 234.4px;
    }

    .prod__item-text {
        font-size: 14px;
        line-height: 176%;
        height: 222px;
        max-width: 171px;
    }

    .prod__rectangle {
        width: 100%;
        height: 428px;
        border-radius: 16px;
        margin: 120px 0 0;
        padding-bottom: 20px;
        box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
}

@media screen and (max-width: 767px) {
    .prod__wrap {
        min-height: 1924px;
        max-width: 320px;
    }

    .prod__center {
        max-width: 300px;
        padding: 60px 10px 0;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .prod__background {
        background-image: url(../img/ice-fon-mob.svg);
        background-repeat: no-repeat repeat;
        background-size: 300px 560px;
        object-fit: cover;
        margin: 0;
    }

    .prod__header {
        max-width: 270px;
        min-height: 72px;
        margin: 0 auto 40px;
    }

    .prod__overtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .prod__title {
        font-size: 30px;
        line-height: 38px;
    }

    .prod__items {
        max-width: 280px;
        min-height: 1664px;
        margin: 0 auto;
        flex-direction: column;
    }

    .prod__item {
        max-width: 280px;
        margin: 0 auto 56px;
        min-height: 528px;
    }


    .prod__item:last-child {
        margin: 0 auto 56px;
    }

    .prod__item-img {
        width: 200px;
        height: 200px;
        margin-top: -108px;
    }

    .prod__item-title {
        font-size: 20px;
        line-height: 24px;
        margin: 31px auto 40px;
    }

    .prod__item-block {
        height: 222px;
    }

    .prod__item-text {
        font-size: 14px;
        line-height: 176%;
        max-width: 200px;
        margin: 0 auto;
    }

    .prod__rectangle {
        width: 280px;
        height: 420px;
        border-radius: 24px;
        padding-bottom: 10px;
        margin: 108px 0 0;
        box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
}